@import 'variables.less';

@font-face {
  font-family: SourceSansRegular;
  src: url({fontRegularUrl});
}

@font-face {
  font-family: SourceSansSemibold;
  src: url({fontSemiboldUrl});
}

.provision-miniwidget {
  position: fixed;
  display: inline-block;
  z-index: 2147483647;
  bottom: 0;
  left: calc(~"(100%" / 2 ~")" - 57px/2);
  padding: 0;
  color: red;
  background: transparent;
  font-size: 0;
  width: auto;
  box-shadow: 0 0 1px 1px #0003;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 0;
  opacity: 0.7;
  line-height: 20px;
  text-align: left;
  font-family: SourceSansRegular, Roboto, Ubuntu, Arial, sans-serif !important;
  letter-spacing: 0;
  &:hover {
    opacity: 1;
  }
  & > * { 
    vertical-align: middle; 
    display: inline-block; 
    letter-spacing: 0;
  }
  * {
    font-family: SourceSansRegular, Roboto, Ubuntu, Arial, sans-serif !important;
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .pmv-drag {
    display: inline-block;
    width: 8px;
    height: 24px;
    background: @gray;
    border-top-left-radius: 3px;
    border-left:1px solid white;
    border-bottom:1px solid #bbb;
    border-top: 1px solid white;
    border-right: 1px solid #bbb;
    cursor:ew-resize;
    background-color: #bfbfbf;    
    background-image: linear-gradient(-45deg, #bbb, #bbb 50%, @gray 50%, @gray);
    background-size: 3px 3px;
    background-position-x: -1px;
    &:hover {
      background-image: linear-gradient(-45deg, #888, #888 50%, #c5c5c5 50%, #c5c5c5);
      border-left:1px solid @gray;
      border-top: 1px solid @gray;
    }
  }

  .pmv-showall {
    height: 24px;
    width: 50px;
    border: 1px solid @gray;
    font-weight: 600;
    color: @black;
    padding: 0 5px;
    cursor: pointer;
    background: @gray;
    border-left:1px solid white;
    border-bottom:1px solid #bbb;
    border-top: 1px solid white;
    border-right: 1px solid #bbb;
    border-top-right-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
    & > * { vertical-align: middle; }
    .pmv-count {
      font-size: 17px;
      line-height: 22px;
      margin-right: 5px;
      position: relative;
      font-weight: normal;
      font-family: SourceSansSemibold, Roboto, Ubuntu, Arial, sans-serif !important;
    }

    .pmv-indicators {
      display: inline-block;
      line-height: 0px;
      position: relative;
      top: 0px;
      span {
        line-height: 0px;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 3px;
        background: #bbb;
        border-bottom: 1px solid #aaa;
        &:nth-child(1), &:nth-child(2) { 
          margin-bottom: 3px;
        }
        &.active {
          &#indicator-c {
            border-color: @darkred;
            background: @red;
          }
          &#indicator-p {
            border-color: @darkyellow;
            background: @yellow;
          }
          &#indicator-s {
            border-color: @darkblue;
            background: @blue;
          }
          &#indicator-a {
            border-color: @darkgreen;
            background: @green;
          }
          &#indicator-o {
            border-color: @black;
            background: @darkgray;
          }
        }
      }
    }

    .pmv-icon-show {
      display: none;
      position: relative;
      margin-left: 3px;
      svg { 
        height: 22px;
        width: 17px;
        display: block;
        path {
          fill: @darkblue;
        }
      }
    }

    &:hover {
      border-top: 1px solid @gray;
      background: #c5c5c5;
      .pmv-icon-show { 
        display: inline-block;
      }
      .pmv-indicators {
        display: none;
      }
    }

    &.pressed {
      border: 1px solid @darkblue;
      background: white;
    }

  }

  .pmv-logo {
    display: inline-block;
    font-size: 0px;
    border-top-right-radius: 3px;
    background: @darkblue;
    opacity: 1;
    padding: 1px 0px 1px 0;
    margin-right: 0px;
    background: @gray;
    border-left:0px solid white;
    border-bottom:1px solid #bbb;
    border-top: 1px solid white;
    border-right: 0px solid #bbb;
    width: 0;
    transition: width 0s;
    height: 24px;
    border-top-right-radius: 3px;
    cursor: pointer;
    svg {
      #frame { fill: @black; }
      #lefteye { 
        fill: @blinkblue; 
        &.on { fill: @blue; }
        &.down { fill: @black; }
      }
      #righteye { 
        fill: @red;
        &.on { fill: @darkred; }
        &.down { fill: @black; }
      }
      transform: rotate(45deg) scaleX(-1);
    }
    &:hover {
      background: #c5c5c5;
    }
  }


  &:hover {
    .pmv-logo { 
      width: 24px; 
      padding: 1px;
      border-left:1px solid white;
      border-bottom:1px solid #bbb;
      border-top: 1px solid white;
      border-right: 1px solid #bbb;
    }
    .pmv-showall {
      border-top-right-radius: 0px;
    }

  }

  &.off {
    .pmv-logo {  
      width: 24px; 
      padding: 1px;
      border-left:1px solid white;
      border-bottom:1px solid #bbb;
      border-top: 1px solid white;
      border-right: 1px solid #bbb; 
      svg {
        #frame { fill: @black; }
        #lefteye { 
          fill: @black; 
          &.down { fill: black; }
        }
        #righteye {
          fill: @black; 
          &.down { fill: black; }
        }
      }
    }
    .pmv-showall {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      border: 0;
    }
  }

  &.mw-hide {
    display: none !important;
  }
}