@import 'variables.less';

@font-face {
  font-family: SourceSansRegular;
  src: url({fontRegularUrl});
}

@font-face {
  font-family: SourceSansSemibold;
  src: url({fontSemiboldUrl});
}

body[data-provision-picker="popup-picker-picking"] {
  * { cursor:crosshair !important; }
}

.provision-picker {
  position: fixed;
  top: 30px;
  right: 30px;
  background: @color-panel;
  width: 300px;
}