@font-face {
  font-family: SourceSansRegular;
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: SourceSansSemibold;
  src: url(/assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: Saira;
  src: url(/assets/fonts/Saira-SemiBold.ttf);
}

@import 'variables.less';

* {
  box-sizing: border-box;
  font-family: SourceSansRegular, Roboto, Ubuntu, Arial, sans-serif;
  font-size: 14px;
  &:not(input):not(textarea) {
    user-select: none
  }
}

a {
  cursor: pointer;
}

i {
  font-size: 18px;
}

body {
  line-height: 18px;
}

.bold, strong {
  font-family: SourceSansSemibold;
}

.hidden {
  display:none;
}

.box {
  text-align: left;
  margin-bottom: 11px;
  .header {
    padding: 8px 8px 7.5px 8px;
    line-height: 18px;
    .bold {
      margin-bottom: 0px;
    }
  }
  .cont {
    border-radius: 4px;
    padding: 8px;
  }
  .text { color: @color-text; }
}

.button-normal {
  background: @color-panel-accent;
  color: white;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  line-height: 38px;
  border: 2px solid transparent;
  i {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
  &:hover {
    background: @color-panel-accent-hover;
  }
}

.button-switch {
  background: @darkblue;
  color: white;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  line-height: 38px;
  border: 2px solid transparent;
  i {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
  &.pressed {
    background: white;
    border: 2px solid @color-panel-accent;
    color: @darkblue;
  }
  &:not(.pressed):hover {
    background: @color-panel-accent-hover;
  }
}

.button-toggle {
  background: @color-panel-selectable;
  color: white;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  line-height: 37px;
  width: 33.33%;

  i {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
  &.selected {
    background: @color-panel-accent;
    &:hover {
      background: @color-panel-accent-hover;
    }
  }
  &:not(:first-child):not(:last-child) {
    border-radius: 0px;
    border-left: 1px solid @color-text-panel-dark;
    border-right: 1px solid @color-text-panel-dark;
  }
  &:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

body {
  background: @color-panel;
  width: 300px;
  height: auto;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  #app {
    width: 100%;
    position: relative;

    .panel {
      width: 300px;
      position: relative;
      width: 100%;
      height: auto;

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: @color-panel;
        z-index: 0;
        overflow: hidden;
        .loginbarbg {
          height: 31px;
          background: @color-panel-dark;
        }
        .ellipse-up {
          width: 180%;
          height: 200px;
          background: @color-panel-white;
          position: absolute;
          left: -125px;
          border-radius: 100%;
          top: 90px;
        }
        .cover {
          background: @color-panel-white;
          height: 1000px;
          position: absolute;
          top: 120px;
          width: 100%;
        }
      }

      .content {
        z-index: 5;
        position: relative;
        padding: 0 19px;
        margin-top: 7px;
      }

    }

  }
}

.controls {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 11.5px 20px;
}

.loginbar {
  color: @color-text-active;
  position: relative;
  z-index: 100;
  text-align: left;
  padding: 0 20px;
  line-height: 30px;
  mix-blend-mode: screen;
  a:hover { color: @color-text-active-hover; }
  .name {
    display: none;
    font-family: SourceSansSemiBold;
  }
  .login {
    float: right; 
  }
  .logout {
    float: right;
    display: none;
  }
}

.box.hidden-elements {
  .cont {
    background: transparent;
    border: 1px solid @color-frame;
    display: flex;
    padding: 5px;
    .left{
      flex: 0 0 50%;
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 45%;
      margin: 0 0 0 3%;
      .big {
        font-size: 32px;
        font-weight: 600;
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        flex: 0 0 auto;
      }
      .elements {
        text-align: left;
        padding-left: 5px;
        flex: 0 0 auto;
        position: relative;
        top: 2px;
        .text {}
        .indicators {
          padding-top: 4px;
          font-size: 0;
          span {
            background: @color-frame;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 4px;
            &:last-child {
              margin-right: 0px;
            }
            &.active {
              &#indicator-cookies {
                border-color: @darkred;
                background: @red;
              }
              &#indicator-push {
                border-color: @darkyellow;
                background: @yellow;
              }
              &#indicator-subscribe {
                border-color: @darkblue;
                background: @blue;
              }
              &#indicator-adblocker {
                border-color: @darkgreen;
                background: @green;
              }
              &#indicator-other {
                border-color: @black;
                background: @darkgray;
              }
            }
          }
        }
      }
    }
  }
}


.box.mode {
  .cont {
    border: 1px solid @color-frame; 
    .switch-wrap {
      font-size: 0;
    }
  }
}

.box.picker {
  margin-bottom: 13px;
  display: flex;
  width: 100%;
  .header {
    flex: 0 1 auto;
  }
  .cont {
    flex: 0 0 60px;
    border: 1px solid @color-frame; 
    text-align: center;
    height: 60px;
    padding: 0px;
    line-height: 60px;
    margin-top: 7px;
    background: none;
    border-radius: 100%;
    .picker-button {
      border: 1px solid @color-frame; 
      width: 48px;
      height: 48px;
      background: @color-frame;
      line-height: 48px;
      color: @color-text;
      margin-top: 5px;
      i {
        font-size: 23px;
        position: relative;
        top: 1px
      }
      &:hover {
        background: @color-panel-accent-hover;
        border-color: @color-panel-accent-hover;
        color: @color-text-panel-dark;
        outline: 6px solid @color-frame;
      }
    }
  }
  .text2 {
    display: none;
  }
  &.hover {
    .text1 { display: none; }
    .text2 { display: block; }
  } 
}


/** 
 * Left Right Buttons
 */
#button-feedback {
  top: -1px;
  border: none;
  background: @color-feedback-panel;
  color: @color-text-dark;
  position: relative;
  i:last-child { 
    display: none; 
    position: relative;
    left: -1px;
    top: -1px;
  }
  i:first-child { 
    display: inline-block; 
  }
  &:hover {
    border: 1px solid @color-text-active-hover;
    color: @color-text-active-hover;
  }
}

#button-settings {
  top: -1px;
  border: 1px solid @color-text-active;
  color: @color-text-active;
  i:last-child { 
    display: none; 
    position: relative;
    top: -1px;
    left: 1px;
  }
  i:first-child { 
    display: inline-block; 
  }
  &:hover {
    border: 1px solid @color-text-active-hover;
    color: @color-text-active-hover;
  }
}

.button {
  width: 39px;
  height: 39px;
  line-height: 40px;
  display: inline-block;
  border-radius: 500px;
  position: relative;
  font-size: 16px;
  color: @color-text-panel-dark;
  border: 1px solid @color-panel-accent;
  cursor: pointer;
  text-align: center;
}

/*
.textblock {
  color: @color-text;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  .icon {
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 100px;
    border: 0px solid @color-frame;
    background: @color-frame;
    color: @color-text-dark;
    flex: 0 0 auto;
    margin-right: 12px;
    margin-left: 8px;
    font-family: sans-serif;
    font-weight: 700;
    i {
      font-size: 11px;
    }
  }
  .text {
    flex: 1 1 auto;
    position: relative;
    top: -1px;
    line-height: 18px;
  }
} */

/** 
 * Main Button 
 */
#mainbutton {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 0 2px @color-panel-dark;
  z-index: 10;
  background: linear-gradient(0deg, 
    darken(@color-frame, 8%) 0%, 
    lighten(@color-frame, 8%) 100%
  );

  /* filter: drop-shadow(0px -1px 2px #0008) drop-shadow(0 1px 2px #fff); */
 
  .inner { 
    width: 84px;
    height: 84px;
    position: relative;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: @color-frame;
    svg { 
      width: 74px;
      height: 74px;
    }
  }

  &:active:hover {
    background: darken(@color-frame, 5%);
  }

  &:hover {
    background: linear-gradient(0deg, 
      darken(darken(@color-frame, 8%), 6%) 0%, 
      darken(lighten(@color-frame, 8%), 8%) 100%
    );
    .inner { 
      background: darken(@color-frame, 5%);
    }
  }

 
  svg {
    #frame { fill: @black; }
    #lefteye { 
      fill: @blinkblue; 
      &.on {
        fill: @blue;
      }
      &.down {
        fill: @black;
      }
    }
    #righteye { 
      fill: @red;
      &.on {
        fill: @darkred;
      }
      &.down {
        fill: @black;
      }
    }
  }
  
  &.off {
    svg { 
      #frame { fill: @black; }
      #lefteye { 
        fill: @black; 
        &.down {
          fill: black;
        }
      }
      #righteye {
        fill: @black; 
        &.down {
          fill: black;
        }
      }
    }
  }
}

#onoff {
  position: absolute;
  width: 100%;
  left: 0;
  top: 116px;
  span {
    display: inline-block;
    width: 100px;
    color: @color-off-text-active;
    &.off {
      text-align: right;
      position: relative;
      left: -55px;
    }
    &.on {
      text-align: left;
      position: relative;
      left: 55px;
      font-weight: 600;
      color: @color-text-dark;
    }
  }
}

.footer {
  padding: 0px 20px;
  background: @color-panel-dark;
  color: @color-text-panel-dark;
  z-index: 5;
  position: relative;
  text-align: left;
  line-height: 37px;
  .name {
    display: inline-block;
    .version {
      color: @color-text-active;
    }
  }
  #link-fb, #link-web {
    float: right;
    margin-left: 12px;
    color: @color-text-active;
    i {
      font-size: 20px;
      position: relative;
      top: 3px;
    }
    &:hover {
      color: @color-text-active-hover;
    }
  }

}

/**
 * OFF colors
 */
body > #app.off {
  .panel .background {
    background: @color-off-panel;
    .loginbarbg {
      background: @color-off-panel-dark;
    }
  }

  .loginbar {
    color: @color-off-text-active;
  }

  #button-settings {
    background: none;
    color: @color-off-panel-selectable;
    border: 1px solid @color-off-panel-selectable;
    &:hover {
      color: @color-text-active-hover;
      border: 1px solid @color-text-active-hover;
    }
  }

  #mainbutton {
    box-shadow: 0 0 0 2px @color-off-panel-dark;
    /* background: linear-gradient(0deg, 
      darken(@color-off-text, 8%) 0%, 
      lighten(@color-off-text, 8%) 100%
    ); */
    .inner {
      /* background: @color-off-text; */
      svg #lefteye, svg #righteye {
        fill: @black;
        &.down {
          fill: black;
        }
      }      
    }
   
    &:active:hover { 
      /* background: darken(@color-off-text, 5%); */
    }
    &:hover {
      /* background: linear-gradient(0deg, 
        darken(darken(@color-off-text, 8%), 6%) 0%, 
        darken(lighten(@color-off-text, 8%), 8%) 100% 
      ); 
      .inner { background: darken(@color-off-text, 5%); }
      */
    } 
  }

  #onoff span.off {
    font-weight: 600;
    color: @black;
  }
  #onoff span.on {
    font-weight: normal;
    color: @color-off-text-active;
  }

  .button-switch {
    background: @color-off-panel-dark;
  }

  .switch-wrap {
    .button-toggle {
      background: @color-off-panel-selectable;
      &.selected {
        background: @color-off-panel-dark;
      }
    }
  }

  .box.picker {
    &.hover {
      .text1 { display: block; }
      .text2 { display: none; }
    }
    .picker-button {
      background: @color-frame;
      color: @color-text;
      border-color: @color-frame;
      &:hover {
        outline: 0;
        background: @color-frame;
        color: @color-text;
      }
    }
  }
  

  .footer {
    background: @color-off-panel-dark;
    #link-fb, #link-web {
      color: @color-off-panel-selectable;
      &:hover {
        color: @color-text-active-hover;
      }
    }
    .version {
      color: @color-off-text-active;
    }
  }
}

body > #app.logged-in { 
  .loginbar {
    .logout {
      display: inline-block;
    }
    .login {
      display: none;
    }
    .name {
      display: inline-block;
    }
    .anonymous {
      display: none;
    }
  }
}

@import 'popup-feedback.less';
@import 'popup-settings.less';
@import 'popup-login.less';


/* Gridrows */
/*
body #app {
  .panel .background {
    background: repeating-linear-gradient( 180deg, transparent, transparent 17px, black 17px, black 18px);
    background-position-y: 0px;
    * { opacity: 0.2; }
  }
  .panel .footer {
    opacity: 0.3;
  }
  #feedback-panel {
    background: repeating-linear-gradient( 180deg, orange, orange 17px, black 17px, black 18px);
    background-position-y: 0px;
  }
} 
*/