/* CLOSED STATE */
body > #app .settingspanel {
  position: absolute;
  top: 0px;
  left: 100%;
  height: 100%;
  z-index: 10;
  background: @color-panel;
  transition: all 0.5s;
  .headerbg {
    background: @color-panel-dark;
    height: 31px;
  }
}

/* OPENED STATE */
body > #app.settings-opened {
  .settingspanel {
    left: 0px;
    .content {
      opacity: 100%;
      transition-delay: 0.4s;
    }
  }
  #button-settings {
    z-index: 100;
    border-color: transparent;
    i:first-child { display: none; }
    i:last-child { display: inline-block; }
    &:hover {
      border: 1px solid @color-text-active-hover;
    }
  }
}

/* CONTENT */
#settings-panel {
  text-align: left;
  .content {
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0s;
  }
  .title {
    text-align: left;
    font-size: 18px;
    margin-top: 22px;
    padding-bottom: 18px;
    color: @color-text-panel-dark;
    border-bottom: 2px solid @color-panel-dark;
  }
  .box {
    border: 0px solid @color-frame-panel;
    border-radius: 4px;
    .header {
      .bold { color: @color-text-panel-dark; }
      .text { color: @color-text-panel; }
    }
    .cont {
      border: 1px solid @color-frame-panel;
      padding: 8px;
      label {
        display:block;
        color: @color-text-panel-dark;
        font-size: 0;
        line-height: 18px;
        margin-bottom: 9px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        * { 
          vertical-align: top; 
        }
        input[type="checkbox"] {
          border: 1px solid @color-frame-panel;
          width: 16px;
          height: 16px;
          margin: 0;
          position: relative;
          top: 1px;
        }
        span {
          display: inline-block;
          font-size: 14px;
          padding-left: 8px;
          max-width: ~"calc(100% - 16px)";
        }
      } 
    }
  }
  .box.cache {
    margin-top: 6px;
    .cont {
      
      padding: 5px;
      display: flex;
      .full {}

      .left, .right {
        flex: 0 0 50%;
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .big {
          font-size: 32px;
          font-weight: 600;
          display: inline-block;
          padding-right: 5px;
          padding-left: 5px;
          flex: 0 0 auto;
          color: @color-text-panel-dark;
        }
        .elements {
          text-align: left;
          padding-left: 5px;
          flex: 0 0 auto;
          line-height: 1em;
          position: relative;
          top: -2px;
          .text1, .text2 {
            display: block;
            color: @color-text-panel;
          }
        }
      }
    }
  }
}

