/* CLOSED STATE */
body > #app .loginpanel {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  z-index: 10;
  background: @color-panel;
  transition: all 0.5s;
  .headerbg {
    background: @color-panel-dark;
    height: 30px;
  }
}

/* OPENED STATE */
body > #app.login-opened {
  .loginpanel {
    top: 0px;
    .content {
      opacity: 100%;
      transition-delay: 0.4s;
    }
  }
}

/* CONTENT */
#login-panel {
  text-align: left;
  .content {
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0s;
  }
  .title {
    text-align: left;
    font-size: 18px;
    margin-top: 22px;
    padding-bottom: 20px;
    color: @color-text-panel-dark;
    border-bottom: 2px solid @color-panel-dark;
  }
  #btn-close-login {
    position: absolute;
    top: -8px;
    right: 20px;
    color: @color-text-active;
    border: 1px solid transparent;
    &:hover {
      color: @color-text-active-hover;
      border: 1px solid @color-text-active-hover;
    }
    i {
      position: relative;
      top: -1px;
    }
  }

  .cont {
    text-align: center;
    padding-top: 170px;
    color: @color-text-active;
    font-size: 18px;
  }

  #g-signin2 {
    height: 38px;
    line-height: 38px;
    margin-bottom: 18px;
    margin-top: 18px;
    overflow: hidden;
    border-radius: 4px;
    background: #eeeeee;
    color: @color-text;
    display: flex;
    * {
      vertical-align: middle;
      position: relative;
    }
    span {
      flex: 1 0 auto;
      padding-left: 0px;
      top: 0;
      text-align: center;
      margin-left: -46px;
    }
    img { 
      flex: 0 0 46px; 
      height: 46px;
      top: -4px;
    }
    img:nth-child(2) {
      display: none;
    }
    &:hover { 
      cursor: pointer;
      background-color: white; 
      img:nth-child(1) { display: none; }
      img:nth-child(2) {
        display: inline-block;
      }
    }
  }

  .divider {
    text-align: center;
    color: @color-text-panel;
  }

  .form {
    input {
      padding: 0 6px;
      line-height: 34px;
      border: 2px solid @color-text-panel-dark;
      width: 100%;
      border-radius: 4px;
      margin-top: 18px;
      &.error {
        border: 2px solid @darkred;
      }
    }
    .error {
      margin-top: 9px;
      color: @red;
    }
    .wrap {
      display: flex;
      margin-top: 18px;
      .left { 
        flex: 0 0 50%;
        a {
          background: none;
          border: none;
          padding: 0px;
          cursor: pointer;
          color: @color-text-active;
          &:hover {
            color: @color-text-active-hover;
          }
        }
      }
      .right { 
        flex: 0 0 50%;
        text-align: right;
        #login-submit {
          background: @color-panel-accent;
          color: @color-text-panel-dark;
          line-height: 38px;
          padding: 0 12px;
          border-radius: 4px;
          transform: all 0.3s;
          width: auto;
          display: inline-block;
          min-width: 96px;
          text-align: center;
          i {
            position: relative;
            top: 2px;
          }
          &:hover {
            background: @color-panel-accent-hover;
          }
          &:active:hover {
            background: @color-text-panel-dark;
            color: @color-text-dark;
          }
          & > span:first-child {
            display: inline-block;
          }
          & > span:nth-child(2) {
            display: none; 
          }
          & > span:last-child {
            display: none;
            i { color: @green; }
          }

          & > span > span { margin-left: 10px; }

          &.loading {
            background: @color-panel-accent-hover;
            & > span:nth-child(1) { display: none; }
            & > span:nth-child(2) { display: inline-block; }
            & > span:nth-child(3) { display: none; }
          }
          &.ok {
            background: @color-panel-accent-hover;
            & > span:nth-child(1) { display: none; }
            & > span:nth-child(2) { display: none; }
            & > span:nth-child(3) { display: inline-block; }
          }
        }
      
      }

    }
  }
}

