/* CLOSED STATE */
body > #app .feedbackpanel {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 10;
  background: @color-feedback-panel;
  transition: all 0.5s;
  .headerbg {
    background: @color-feedback-panel-dark;
    height: 31px;
  }
}

/* OPENED STATE */
body > #app.feedback-opened {
  .feedbackpanel {
    left: 0px;
    .content {
      opacity: 100%;
      transition-delay: 0.4s;
    }
  }
  #button-feedback {
    z-index: 100;
    i:first-child { display: none; }
    i:last-child { display: inline-block; }
  }
}

/* CONTENT */
#feedback-panel {
  text-align: left;
  .content {
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0s;
  }
  .title {
    text-align: right;
    font-size: 18px;
    margin-top: 22px;
    padding-bottom: 18px;
    position: relative;
    border-bottom: 2px solid @color-feedback-panel-dark;
  }
  .text {
    color: @color-text-panel-dark;
    margin-top: 16px;
    margin-bottom: 14px;
    line-height: 18px;
  }
  .form {
    font-size: 0;
    line-height: 0;
    .label {
      margin-bottom: 7px;
      margin-top: 9px;
      padding: 0 0px;
      display: inline-block;
      line-height: 18px;
    }
    input {
      padding: 0 6px;
      line-height: 34px;
      border: 2px solid @color-text-panel-dark;
      width: 100%;
      border-radius: 4px;
      &.error {
        border: 2px solid @darkred;
      }
    }
    textarea {
      padding:7px 8px;
      width: 100%;
      height: 91px;
      line-height: 18px;
      border: 2px solid @color-text-panel-dark;
      width: 100%;
      border-radius: 4px;
      resize: none;
      &.error {
        border: 2px solid @darkred;
      }
    }
    #btn-open-rule-editor {
      border-radius: 100px;
      width: 41px;
      line-height: 38px;
      margin-top: 18px;
      text-align: center;
      font-weight: bold;
      float:left;
      border: 1px solid @color-feedback-panel-light;
      background: @color-feedback-panel-light;
      span {
        font-family: 'Saira', Arial, Helvetica, sans-serif;
        font-size: 18px;
        
      }
      &:hover {
        border: 1px solid @color-text-active-hover;
        span {

        }
      }
    }
    #btn-send-feedback {
      background: @color-feedback-panel-dark;
      color: @color-text-panel-dark;
      line-height: 38px;
      padding: 0 12px;
      margin-top: 18px;
      float: right;
      border-radius: 4px;
      border: 2px solid transparent;
      transform: all 0.3s;
      i {
        position: relative;
        top: 2px;
        margin-right: 10px;
      }
      &:hover {
        background: darken(@color-feedback-panel-dark, 5%);
      }
      &:active:hover {
        background: @color-text-panel-dark;
        color: @color-text-dark;
      }
      & > span:first-child {
        display: inline-block;
      }
      & > span:last-child {
        display: none;
        i { color: @green; }
      }
    }
  }

  &.sending .form #btn-send-feedback {
    background: @color-text-panel-dark;
    color: @color-text-dark;
    & > span:first-child {
      display: none;
    }
    & > span:last-child {
      display: inline-block;
    }
  }
}