@black: #363636;
@lightgray: #f5f5f5;
@gray: #e0e0e0;
@darkgray: #636363;
@blue: #1d64d8;
@darkblue: #2b54a7;
@blinkblue: #00A1F1;
@lightblue: #6c8dc4;
@whiteblue: #bac2e7;
@green: #7cbb00;
@darkgreen: #34a853;
@lightyellow: #ffc422;
@yellow: #ffbb00;
@darkyellow: #f19a2a;
@darkeryellow: #bb891a;
@red: #f65314;
@darkred: #c91b0b;


@color-frame: @gray;
@color-frame-panel: @lightblue;

@color-panel: desaturate(@blue, 30%);
@color-panel-dark: desaturate(@darkblue, 12%);
@color-panel-white: @lightgray;
@color-panel-accent: @darkblue; 
@color-panel-accent-hover: @blue;
@color-panel-selectable: @whiteblue;

@color-feedback-panel: @yellow;
@color-feedback-panel-light: @lightyellow;
@color-feedback-panel-dark: @darkyellow;

@color-off-panel: desaturate(@blue, 100%);
@color-off-panel-dark: desaturate(@darkblue, 100%);
@color-off-text-active: desaturate(@whiteblue, 100%);
@color-off-panel-selectable: desaturate(@whiteblue, 100%);
 
@color-text: @darkgray;
@color-text-dark: @black;
@color-text-panel: @whiteblue;
@color-text-panel-dark: white;
@color-text-active: @whiteblue;
@color-text-active-hover: white;

