$black: #363636;
$lightgray: #eee;
$gray: #ccc;
$darkgray: #a7a7a7;
$blue: #1d64d8;
$darkblue: #2b54a7;
$inactiveblue: #c0c0e5;
$green: #7cbb00;
$darkgreen: #34a853;
$yellow: #ffbb00;
$darkyellow: #f19a2a;
$red: #f65314;
$darkred: #c91b0b;
$color-semi-black: #0004;
$color-semi-gray: #0002;
$color-semi-white: #fff4;
$color-border: $color-semi-black;
$color-background: $yellow;
$color-panel: #9eaebd;
$color-panel-dark: #74808b;
$color-panel-semidark: #909FAC;

$mainfont: 'Roboto', sans-serif;
$headfont: 'Saira', sans-serif;

$width: 720px;
$border: 3px;
$padding: 8px;

$logowidth: 150px;
$logosmallwidth: 47px;

* {
  position: relative;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $blue;
  font-weight: 400;
}

p {
  margin: 0 0 $padding 0; 
}

.flex {
  display: flex;
  align-items: flex-start;
}

input, textarea {
  width: 100%;
  margin: 0;
  padding: 8px;
  border: 1px solid #0002;
  border-top: 1px solid #0004;
  border-bottom: 1px solid #0000;
  line-height: 16px;
  outline: 0;
  font-size: 13px;
  border-radius: 1px;
  resize: vertical;
  white-space: nowrap;
  &[type="checkbox"] {
    width: 15px;
    margin-right: $padding;
    display: inline-block;
  }
}
textarea {
  height: 130px;
  line-height: 18px;
}

button {
  border: 0px;
  padding: 0px;
  background: transparent;
  color: $lightgray;
  margin: 0px;
  cursor: pointer;
  outline: 0px;
  &:not(.button):not(.button-validate) {
    font-size: 13px;
  }
  i {
    margin-right: $padding;
  }
  &:hover {
    color: white;
  }
  &.disabled {
    color: $darkgray !important;
    i {
      color: $darkgray !important;
    }
  }
}

.button {
  color: $black;
  border-radius: 1px;
  text-align: center;
  display: inline-block;
  padding: 0 $padding;
  line-height: 32px;
  background: white;
  font-family: $headfont;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid $color-semi-gray;
  border-top: 1px solid $color-semi-white;
  border-bottom: 1px solid $color-semi-black;
  font-size: 14px;
  &:hover {
    background: white;
    color: $black;
  }
}

.button-validate {
  color: $black;
  border-radius: 1px;
  text-align: center;
  display: inline-block;
  padding: 0 $padding;
  line-height: 32px;
  background: white;
  font-family: $headfont;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid $color-semi-gray;
  border-top: 1px solid $color-semi-white;
  border-bottom: 1px solid $color-semi-black;
  i { color: $green; }
  &.valid {
    border-color: transparent;
    background: transparent;
    i { color: $darkgreen; }
  }
  &.invalid {
    border-color: transparent;
    background: transparent;
    i { color: $red; }
  }
  &.validating {
    border-color: transparent;
    background: transparent;
    color: $darkgray;
  }
  &:hover {
    color: $black;
  }
}

label {
  color: $color-panel;
  font-family: 'Saira', sans-serif;
  text-transform: uppercase;
  display: block;
  span {
    width: calc(100% - 23px);
    display: inline-block;
    vertical-align: top;
    line-height: 1.4em;
    text-align: justify;
  }
}

.error {
  color: $darkred;
  font-size: 12px;
  margin-top: 6px;
  text-transform: none;
  text-align: left;
}

.fa-spinner {
  color: $gray !important;
}

#g-signin2 { height: 38px; width: 100%; background: white; border-radius: 4px; }
.abcRioButton {
  box-shadow: none !important;
  border: 1px solid #0002;
  border-top: 1px solid #0000;
  border-bottom: 1px solid #0004;
  border-radius: 4px !important;
  * {
    border-radius: 4px;
  }
}

.delete-button {
  display: inline-block;
} 

.inputicon {
  padding-right: $padding;
  height: 34px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 34px;
  background: white;
  width:22px;
  border-top: 1px solid $color-semi-black; 
  border-right: 1px solid $color-semi-gray; 
  border-bottom: 1px solid white; 
  i { color: $gray; &.fa-times { left: 2px; } }
  &.ok {
    i:nth-child(1) { color: $green; }
    i:nth-child(2) { display: none; }
  }
  &.notok {
    i:nth-child(2) { color: $black; }
    i:nth-child(1) { display: none; }
  }
  &.err {
    i:nth-child(2) { color: $red; }
    i:nth-child(1) { display: none; }
  }
  &:not(.ok):not(.err):not(.notok) {
    i:nth-child(2) { display: none; }
  }
}

.field {
  display: inline-block;
  margin: $padding 0;
  .label {
    color: $color-panel;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    display: block;
  }
}

.actions {
  text-align: right;
  margin-top: $padding;
  border-top: 0px solid $gray;
  padding-top: calc(#{$padding} * 1);
  .button {
    margin-left: 3px;
  }
}

.admin-actions {
  margin-top: $padding;
  padding: calc(#{$padding} * 1) calc(#{$padding} * 2);
  text-align: right;
  #ruleset-approve { i { color: $green; }}
  #ruleset-reject { i { color: $red; }}
  .button {
    margin-left: 3px;
  }
}

.sc {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $black;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-panel-dark;
    border: 1px solid $black;
    border-top: 0px;
    border-left-width: 2px;
  }

  &.value::-webkit-scrollbar-track { 
    background: white; 
  }

  &.value::-webkit-scrollbar-thumb {
    border: 1px solid $lightgray;
  }
  &.value::-webkit-resizer {
    background: $color-panel-dark;
    border: 1px solid white;
  }

  &.page::-webkit-scrollbar-track { 
    background: transparent;
  }

  &.page::-webkit-scrollbar-thumb {
    border: 1px solid $lightgray;
  }
}



html {

}

h1, h2, h3 {
  font-family: $headfont;
  font-weight: 600;
  color: $black;
  margin: 0;
}

h3 {
  font-size: 16px;
}

.width {
  margin-left: calc((100vw - #{$width})/2);
  margin-right: calc((100vw - #{$width})/2);
  width: $width;
}

header {
  padding: $padding 0;
  margin: 0;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: 'Audiowide', sans-serif;
  color: $darkblue;
}

a.editorlogo {
  h1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-weight: 400;
    font-family: $mainfont;
    & > * {
      vertical-align: middle;
    }
    .icon {
      font-family: $headfont;
      font-size: 32px;
      font-weight: 600;
      display: inline-block;
      margin-right: 7px;
      color: $darkblue;
      top: -2px;
      span {
        color: $red;
      }
    }
    .text {
      display: inline-block;
      text-align: left;
      .title, .title * { 
        vertical-align: middle; 
        font-size: 16px;
      }
      .descr {
        font-size: 12px; 
        color: $color-semi-black;
      }
    }
  }
}

.message {
  padding: 4px;
  color: $black;
  i { 
    color: $darkgreen;
  }
}

body {
  background: $color-background;
  margin: 0;
  padding: 0;
  #root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 720px;
    position: relative;
    .app {
      font-size: 14px;
      margin: 0;
      min-height: 100vh;
      width: $width;
      position: initial;
      font-family: $mainfont;
      font-weight: 400;
      color: $black;
      text-align: left;
      padding: 0 $padding;
      padding-bottom: 60px;
      .tab {
        background: $color-panel;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 1px 1px $color-panel-dark;
        min-height: 600px;
      }
      .user-bar {
        display: flex;
        padding: 6px 0;
        background: $color-semi-black;
        color: $color-panel;
        .wrap {
          width: 100%;
          display: flex;
          padding: 0 3px;
          & > * {
            flex: 1 0 auto;
            font-size: 13px;
            button {
              padding: 0 6px;
            }
            &:first-child {
              text-align: left;
              padding: 0 6px;
              color: $lightgray;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      .content {
        height: calc(100vh - 160px);
        min-height: 573px;
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        .panel-left {
          flex: 0 0 200px;
          height: 100%;
          max-width: 200px;
        }
        .panel-right {
          flex: 1 0 auto;
          height: 100%;
        }
      }
    }
  }
}

.searchlist {
  height: 100%;
  .search {
    border-bottom: 3px solid $color-panel;
    button {
      position: absolute;
      right :0;
      width: 34px;
      height: 34px;
      i { 
        color: $darkgray; 
        margin: 0;
      }
      &:hover i {
        color: $blue;
      }
    }
  }
  input {
    border: 1px solid $color-panel-semidark;
    border-top: 1px solid $color-panel-dark;
    border-bottom: 1px solid transparent;
  }
  .items {
    height: calc(100% - 37px);
    overflow-y: auto;
    background: $black;
    border-top: 1px solid black;
    border-left: 1px solid transparent;
    border-bottom-left-radius: 10px;
    
    .item {
      padding: calc(#{$padding}/1.5) $padding;
      border-bottom: 1px solid $color-semi-white;
      color: $gray;
      cursor: pointer;
      overflow: hidden;
      &:first-child {
        border-top: 1px solid transparent;
      }
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }

    .loading {
      position: absolute;
      top:0;
      bottom: 0;
      height: auto;
      width: 100%;
      i { 
        font-size: 18px; 
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 18px;
        width: 18px; 
        margin: auto;
        position: absolute;
      }
    }
  } 
}

.detail {
  padding-left: 3px;
  .controls {
    text-align: right;
    border-bottom: 3px solid $color-panel;
    button {
      display: inline-block;
      margin-right: 2px;
      background: $lightgray;
      border: 1px solid $color-panel-semidark;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $color-panel-dark;
      right: -1px;
      &:not(.disabled):hover {
        background: white;
      }
      &#create {
        margin-right: 0;
        i { 
          color: $red;     
          font-size: 16px;
          top: 1px;
        }
      }
      &#suggest {
        i { color: $blue; }
      }
    }
  }
  .page {
    height: calc(100vh - 240px);
    min-height: 495px;
    width: 495px;
    background: $lightgray;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25); */
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    h2 {
      text-align: left;
      color: $black;
      text-transform: uppercase;
      border-bottom: 1px solid $color-semi-gray;
      margin: 0;
      padding: calc(#{$padding} * 2) ;
      i {
        color: $blue;
        margin-right: $padding;
      }
    }
    .registercard .form {
      input { 
        width: calc(100% - 22px); border-right: 0px; 
      }
    } 
    .logincard, .registercard, .recoverycard {
      width: 300px;
      display: inline-block;
      text-align: center;
      padding-bottom: calc(#{$padding} * 2);
      .widthwrap { 
        display: inline-block; 
        width: auto;
        text-align: left;
      }
      h2 {
        margin: 0;
        padding: calc(#{$padding} * 2) 0;
        text-align: left;
        border:none;
      }
      .message {
        margin: calc(#{$padding} * 2) 0;
      }
      .text {
        text-align: left;
        border-top: 0px solid $gray;
        padding: calc(#{$padding} * 2) 0 ;
        & > div {
          color: $color-panel-dark;
          font-size: 13px;
          line-height: 1.3em;
          text-align: justify;
        }
      }
      .form {
        width: 100%;
        padding: calc(#{$padding * 3}) 0;
        display: inline-block;
        border: 1px solid $color-semi-gray;
        border-radius: 12px;
        padding: 20px 19px;
        input {
          margin-top: $padding;
          border-radius: 4px;
          &#email {
            margin: 0;
          }
        }
        .info {
          color: $color-panel-dark;
          font-size: 12px;
          text-align: right;
          margin-top: 6px;
          margin-bottom: 6px;
        }
        .divider {
          color: $color-panel-dark;
          font-size: 12px;
          margin: calc(#{$padding} * 3 + 3px) 0;
          text-align: center;
          border-bottom: 0px solid $gray;
          line-height: 0;
          span {
            position: relative;
            top: 1px;
            padding: 0 8px;
            background: $lightgray;
          }
        }
        .button {
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 4px;
          i {
            color: $red;
          }
        }

        #pwd2icon:not(.ok):not(.err):not(.notok) {
          i:nth-child(1) { display: none; }
          i:nth-child(2) { display: inline-block; }
        }
        .wrap {
          margin-top: calc(#{$padding} * 3);
          display: flex;
          align-items: center;
          .left {
            flex: 1 0 auto;
            text-align: left;
          }
          .right {
            flex: 0 0 auto;
          }
          #login-existing, #register-new, #forgot-password {
            color: $blue;
            position: relative;
            top: -1px;
            padding: 0;
            border-bottom: 1px dotted transparent;
            &#forgot-password:not(:hover) {
              color: $color-panel-dark;
              
            }
            &:hover {
              color: $darkblue;
            }
          }
        }
      }
    }
    .rulesetcard {
      text-align: left;
      h2 {
        i.fa-folder-plus { color: $red; }
      }
      .form {
        padding: calc(#{$padding} * 2);
        border-bottom: 1px solid $gray;
      }
      .wrap {
        display: flex;
        .field {
          margin-top: 0;
        }
      }
      .additional {
        padding: 0 calc(#{$padding} * 2);
      }
      #ruleset-send i { color: $red; }
      .field {
        &.name {
          width: 50%;
          text-transform: uppercase;
          padding-right: $padding;
          .value {
            font-size: 20px;
            font-weight: bold;
          }
        }
        &.existing {
          width: 50%;
          padding-left: $padding;
          margin-bottom: 0;
          .value {
            padding: 0 $padding;
            font-size: 13px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            min-height: 33px;
            border: 1px solid $gray;
            a {
              display: inline-block;
              width: 100%;
              overflow: hidden;
            }
          }
        }
        &.ruleset {
          margin-top: 0;
          display: block;
          border-bottom: 1px solid $gray;
          .value {
            width: calc(100%); 
            overflow-x: auto;
            display: flex;
            flex-direction: column;
            min-height: 34px;
            justify-content: center;
          }
          pre {
            background: white;
            padding: calc(#{$padding} * 2);
            font-size: 12px;
            margin:0;
            width: fit-content;
            min-width: 100%;
          }
        }
        &.info {
          color: $darkgray;
          font-size: 13px;
          width: 100%;
          margin-top: 0;
          text-align: right;
          padding: 0 calc(#{$padding} * 2);
        }
        &.status {
          display: inline-block;
          margin-right: $padding;
          .label { display: inline-block; width: 100%; }
          i { margin-right: $padding; }
          i.fa-times { color: $red; }
          i.fa-check { color: $green; }
          i.fa-hourglass-half { color: $darkgray; }
        }
        &.mature {
          width: 100%;
          display: flex;
          label {
            flex: 1 0 auto;
            margin-top: $padding;
            &:nth-child(2) {
              flex: 0 1 auto;
              white-space: nowrap;
            }
          }
        }
      }
      &.edit .ruleset { border-bottom: 0px solid $gray; }

    }
    .profilecard {
      .flex {
        padding: calc(#{$padding} * 2);
      }
      .basic-info { 
        flex: 0 0 50%;
        .field {
          width: 100%;
          margin-top: 0;
          margin-bottom: 5px;
          &.name {
            font-weight: 600;
          }  
          &.account {
            color: $color-panel;
          }
        }
      }
      .change-password {
        width: 100%;
        border: 1px solid $gray;
        .message { color: white;}
        .cont {
          padding: $padding;
          padding-top: 0;
          display: none;
        }
        input { 
          width: calc(100% - 22px);
          margin-top: 3px;
          border-right: 0px;
          &:nth-child(1) { margin-top: $padding; }
        }
        .field { 
          margin: 0; 
          padding: 5px $padding;
          width: 100%;    
          text-align: left;      
          i {
            float: right;
            top: 4px;
            right: 3px;
            color: $gray;
            margin: 0;
          }
        }
        button {
          margin-top: $padding;
          i { color: $red; }
        }
        .wrap {
          text-align: right;
        }
        &.opened {
          background: $color-panel-dark;
          border: 0;
          .cont { display: block; }
          .field {
            border-bottom: 0px solid $color-panel;
            margin-bottom: $padding;
            .label { color: white; }
            i { transform: rotate(180deg);}
          } 
        }
        &:hover:not(.opened) {
          border-color: $color-panel-dark;
          .field {
            .label { color: $color-panel-dark; }
            i { color: $color-panel-dark; }
          }
        }
      }
    }

  }
  .links {
    padding: 12px 0;
    text-align: right;
    a {
      font-size: 14px;
      color: white;
      margin-right: calc(#{$padding} * 2);
      display: inline-block;
      &:hover {
        color: $blue;
      }
    }
  }
}

.posts {
  border-top: 1px solid $color-semi-gray;
  padding: calc(#{$padding} * 2);
  .field {
    margin-top: 0px;
  }
  .item {
    display: flex;
    background: white;
    padding: 0;
    border-left: 1px solid $color-semi-gray;
    border-right: 1px solid $color-semi-gray;
    border-bottom: 1px solid $color-semi-black;
    & > div {
      flex: 1 0 auto;
      padding: $padding;
      &:nth-child(1) { flex: 0 0 32px; }
      &:nth-child(2) { flex: 0 0 32px; }
      &:nth-child(4) { flex: 0 0 100px; }
      &.status { 
        text-align: center; 
        border-right: 1px solid $color-semi-gray;
        i.fa-hourglass-half { color: $darkgray; }
        i.fa-check { color: $green; }
        i.fa-times { color: $red; }
      }
      &.type { 
        text-align: center; 
        border-right: 1px solid $color-semi-gray;
        .fa-edit { color: $blue; }
        .fa-folder-plus { color: $red; }
      }
      &.row-actions { padding: 0 }
      i { margin: 0; }
    }
    &.rejected {
      background: transparent;
      border: 0;
      div {
        border: 0;
        &.type i { color: $darkgray; }
        &.status i { color: $darkgray; }
        &.name { color: $darkgray; }
        &.row-actions { 
          .view { 
            i { color: $darkgray; }
            &:hover { i { color: $black; }}
          }
        }
      }
    }
  }
  .row-actions {
    flex: 0 0 100px;
    text-align: right;
    i { color: $black; }
    button {
      width: 32px;
      line-height: 32px;
      &:hover {
        background: $color-semi-gray;
      }
    }
    .loading {
      width: 32px;
      line-height: 32px;
      text-align: center;
    }
  }
}



footer {
  border-top: 0px solid $color-semi-black;
  background: $color-semi-black;
  padding: $padding 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  font-family: $headfont;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: $padding 0;
  text-align: center;
  & > div { 
    display: inline-flex; 
    width: $width;
    padding: 0 ($padding * 2);
  }

  .copyright {
    flex: 1 1 auto;
    text-align: left;
  }
  .creator {
    flex: 1 1 auto;
    text-align: right;
    i {
      color: $red;
    }
  }
}